@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&family=Inter:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Teko:wght@300..700&family=Lato:100&display=swap')

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #1f1517;
    color: floralwhite;
    font-family: Inter, sans-serif;
    font-weight: 500;
}

html {
    font-family: Inter, sans-serif;
    font-weight: 500;
}

a {
    text-decoration: none;
}

nav {
    max-width: 100%;
    margin: auto;
    padding: 1.5rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.logo {
    font-family: Teko;
    font-size: 2rem;
    font-weight: 600;
    text-transform: uppercase;
}

.menu {
    list-style: none;
    border: 1px solid #363636;
}

.menu-toggle, .menu-icon {
    display: none;
}

.menu li {
    position: relative;
    border-right: 1px solid #363636;
}

.menu li a {
    color: aliceblue;
    text-decoration: none;
    padding: 0.5rem 1rem;
    display: block;
}

.menu li a:hover {
    background: 381b04;
    color: aliceblue;
    -moz-box-shadow: 0 3px 10px 0 #CCC;
    -webkit-box-shadow: 0 3px 10px 0 #ccc;
    text-shadow: 0px 0px 5px #fff;
}

.menu li ul {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: aliceblue;
    display:none;
    z-index: 1;
}

.menu li:hover ul, .menu li.over ul {
    display: block;
}

.menu li ul li {
    border: 1px solid #c0c0c0;
    width: 150px;
}

.github {
    position: absolute;
    top: 1.5rem;
    right: 2rem;
}

.github > img, .cadastro > img {
    border-radius: 20rem;
    width: 2.5rem;
}

main {
    display: flex;
    flex-direction: column;
}

.principal {
    background-color: #181012;

}

.hero {
    background: #181012;
    max-width: 1120px;
    height: 60vh;
    display: flex;
    justify-content: space-between;
    gap: 6rem;
    padding: 0rem 2rem;
    margin: auto;
    overflow: clip;
}

.hero-content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.destaque {
    font-family: Epilogue;
    font-size: 1rem;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
}

h1 {
    font-family: Montserrat;
    font-size: 2.5rem;
    font-weight: 800;
}

hr {
    border-color: #A45A49;
}

.subtitulo {
    color: #C7BAB3;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
}

.carousel {
    width: 100%;
    height: 400px;
    position: relative;
}

.carousel > input {
    display: none;
}

.slides {
    width: 100%;
    height: 100%;
    position: absolute;
}

.slide {
    padding-top: 3vh;
    width: 100%;
    height: 100%;
    position: absolute;
    display: none;
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 2rem;
}

.navigation {
    width: 100%;
    height: 50px;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
}

.navigation label {
    width: 15px;
    height: 15px;
    background-color: aliceblue;
    border-radius: 50%;
    margin: 5px;
    cursor: pointer;
    margin-top: 10vh;
    transition: background-color 0.25s ease;
}

.navigation label:hover {
    background-color: #A45A49;
}

#slide1:checked ~ .slides .slide:nth-child(1),
#slide2:checked ~ .slides .slide:nth-child(2),
#slide3:checked ~ .slides .slide:nth-child(3),
#slide4:checked ~ .slides .slide:nth-child(4),
#slide5:checked ~ .slides .slide:nth-child(5) {
    display: block;
}

.produtos {
    display: flex;
    flex-direction: column;
    max-width: 1120px;
    padding: 3rem 2rem;
    margin: auto;
    align-items: center;
}

.produtos-cabecalho {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.produtos-titulo {
    font-family: Montserrat;
    font-size: 2rem;
    font-weight: 700;
    color: #FFF2E7;
}

.produtos-card-container {
    padding: 0rem 10rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
    max-width: 50%;
}

.produtos-card {
    background: #241A1C;
    padding: 2rem;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    flex-basis: 29rem;
}

.produtos-card-cabecalho {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
}

.produtos-card-cabecalho-detalhes {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}

.produto-titulo {
    color: #FFF2E7;
    font-family: Montserrat;
    font-size: 1.5rem;
    font-weight: 700;
}

.produtos-imagem > img {
    max-width: 100%;
    border-radius: 5rem;
    width: 20rem;
}

.produto-preco {
    display: flex;
    flex-direction: row;
    color: #FFF2E7;
    font-family: Montserrat;
    font-size: 1.5rem;
    font-weight: 600;
}

.btn{
    background-color: #A45A49;
    border: none;
    color: #fff;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 16px;
    transition: background-color 0.75s ease;
}

.btn:hover{
    background-color: #1f1517;
}

footer {
    padding: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    background: #23181A;
}

.footer-copy {
    color: #FFF2E7;
    font-family: Inter;
    font-size: 1rem;
    font-weight: 500;
}

.footer-slogan {
    color: rgba(255, 242, 231, 0.50);
    font-family: Inter;
    font-size: 1rem;
    font-weight: 500;
}

@media only screen and (max-width: 768px) {
    .icon-container {
        position: absolute;
        top: 1.5rem;
        right: 2rem;
    }
    .cadastro {
        position: absolute;
        top: 0;
        right: 0;
    }

    .github {
        position: absolute;
        top: auto;
        right: 2.9rem;
    }

    .logo {
        font-size: 3.3vh;
    }
    
    body {
        font-size: 14px;
    }

    .menu-toggle:checked + .menu-icon {
        display: block;
    }

    .menu {
        display: none;
        position: absolute;
        top: 100%;
        right: 0;
        background: #1f1517;
        width: 100%;
        flex-direction: column;
    }
    
    .menu li {
        border-bottom: 1px solid #363636;
    }

    .menu-toggle:checked + .menu-icon + .menu {
        display: flex;
    }

    .menu-mobile {
        display: flex;
    }

    nav {
        padding: 1.5rem 1rem;
    }

    .hero {
        flex-direction: column;
        gap: 3rem;
        height: auto;
        padding: 2rem 1rem;
    }

    .slides {
    width: 70%;
    height: 70%;
    position: absolute;
    }

    .slide {
    width: 100%;
    height: 100%;
    position: absolute;
    display: none;
    }

    .slide img {
    width: 40vh;
    height: 100%;
    object-fit: fill;
    border-radius: 2rem;
    }

    .navigation label {
        color: aliceblue;
        width: 10px;
        height: 10px;
        margin-top: 1px;
    }

    .produtos-card-container {
        padding: 0rem 1rem;
        max-width: 100%;
    }

    .produtos-titulo {
        text-align: center;
        font-size: 3.3vh;
    }

    .produtos-card {
        max-width: 100%;
        flex-basis: 100%;
        margin-bottom: 2rem;
    }

    .produtos-imagem > img {
        max-width: 100%;
    }

    .produto-descricao {
        text-align: center;
        font-size: 2vh;
        line-height: 1.3;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        margin-bottom: 1rem;
    }

    .footer {
        padding: 2rem;
    }

    h1 {
        font-size: 4vh;
    }
}
